body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 750px
500px */
.background {
  height: 48em;
  width: 31.3em;
}

.logo {
  color: rgb(243, 243, 243);
  position: absolute;
  top: 12rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 31.3em;
}

.odin-logo {
  width: 65px;
  height: 80px;
  margin-right: 20px;
  margin-top: 10px;
}

.logoandtext {
  display: flex;
  justify-content: center;

  position: relative;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.link-text {
  position: absolute;
  bottom: 0;
  color: aliceblue;
}
a {
  color: white;
}

button {
  background-color: #596d48;
  color: white;
  width: 170px;
  height: 30px;
  border-radius: 10px;
}

.right {
  background-color: rgba(229, 228, 227, 0.327);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 940px;
  height: 48rem;
}

legend {
  margin-top: 20px;
}

.intro-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-div {
  display: grid;
  grid-template-columns: 350px 250px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.left-form-data {
  display: flex;
  flex-direction: column;
}
.right-form-data {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: white;
}

legend {
  margin-left: 35px;
  margin-bottom: 30px;
}
input :invalid {
  border: solid 3px rgb(255, 20, 20);
}

input {
  border: #e5e7eb solid 1px;
  border-radius: 5px;
  width: 165px;
  height: 20px;

  margin-bottom: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
}

.log-in {
  color: #596d48;
}
